body {
  background-image: linear-gradient(0deg, slateblue, white, white);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  margin: 0;
  /* pour éviter l'ascenseur */
  border: 1px solid transparent;
  box-sizing: border-box;
}

#map { height: 400px; width: 400px; float:left; margin-left:20px; margin-right:20px;}

/* bandeau de titre */
h1 {color: slateblue;
    border: 2px solid black;
    padding : 5px;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    margin-top: 0.33em;
    margin-bottom: 1.33em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center; /* Aligne le texte à gauche */
    font-family: 'Helvetica', sans-serif; /* Changez 'Arial' par la police de votre choix */
    font-size: 36px; /* Ajustez la taille de la police selon vos besoins */
}

/* Menu Styles */

#buttonsContainer {
  display: flex; /* Utilisation de flexbox pour aligner les éléments */
  justify-content: center; /* Centrer les éléments horizontalement */
  margin-bottom: 10px; /* Marge en bas */
  text-align: center;
}

button {
  display: inline-block;
  width: 105px; /* Largeur fixe */
  height: 40px; /* Hauteur fixe */
  text-align: center; /* Centrer le texte horizontalement */
  margin: 0 10px;
  border-radius: 5px;
  background-color: rgba(0, 123, 255, 0.8); /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 0px 5px; /* Remplissage intérieur */
  border: none; /* Suppression de la bordure */
  cursor: pointer; /* Curseur au survol */
  margin-bottom: 1.3em /* Marge en bas */
}

button:hover {
  background-color: rgba(0, 123, 255, 1); /* Couleur de fond au survol */
}


nav {
  text-align: center;
  margin-bottom: 1.33em;
  display: flex; /* Utilisation de flexbox pour aligner les éléments */
  justify-content: center; /* Centrer les éléments horizontalement */
  margin-bottom: 5px; /* Marge en bas */
}


#durationButton {
  display: inline-block;
  margin: 0 20px;
  border-radius: 5px;
  background-color: rgba(0, 123, 255, 0.8); /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Remplissage intérieur */
  border: none; /* Suppression de la bordure */
  cursor: pointer; /* Curseur au survol */
  margin-bottom: 1.3em /* Marge en bas */
}

#durationButton:hover {
  background-color: rgba(0, 123, 255, 1); /* Couleur de fond au survol */
}

.dropbtn {
  text-align: center;
  margin: 0 20px;
  padding: 10px 10px;
  color: white;
  text-decoration: none;
  background-color: rgba(0, 123, 255, 0.8);
  border-radius: 5px;
  transition: background-color 0.3s;
}

.dropbtn:hover{
  background-color: rgba(0, 123, 255, 1);
}

.lin1::after {
  content: '\25B6'; /* Unicode for downward arrow */
  font-size: 16px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}


/* contenu de la page */
body > * {   padding-left: 10px; }

/* polices de caractères */
body { font-family: Trebuchet MS, sans-serif; }

/* positionnement des champs */
label { display: block; }
label span { display: inline-block; width: 5em; height: 1.5em; }


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 123, 255, 0.8);
  z-index: 1;
}

.dropdown-content a {
  color: rgba(0, 123, 255, 0.8);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(112, 174, 239, 0.8);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.submenu {
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
  min-width: 160px;
}

.dropdown-content .submenu-link:hover .submenu {
  display: block;
}


/*
input, textarea {
  font-family: monospace;
  padding: 2px 0.5em;
  width: 5em;
  font-size: 1.2em;
  line-height: 1.33em;
  color: #666;
  margin-top: 5px;
}
.button {
  border: 3px outset #444;
  background-color: #888;
  padding: 5px 0.5em;
  border-radius: 3px;
  display: inline-block;
  margin: 1em 0;

  color: #eee;
  text-shadow: #000 -1px -1px 0;
  right: calc(100% - 8em - 3px);
}
*/
/*
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
*/

.hidden {
  visibility: hidden;
}

a.delete:hover {
  color: red;
}
#map { height: 400px; width: 600px; }

